<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="JSON"
			 value="students.json" />

		<add key="XML"
			 value="Resources\students.xml" />

		<add key="TXT"
			value="Resources\students.txt" />

	</appSettings>
</configuration>